[Desktop Entry]
Type=Application
Name[ca]=Monitor de Pika Backup
Name[da]=Pika Backup Overvågning
Name[de]=Pika Datensicherungsüberwachung
Name[en_GB]=Pika Backup Monitor
Name[es]=Copia de respaldo Pika
Name[eu]=Pika Backup monitorea
Name[fi]=Pika-varmuuskopioinnin tarkkailu
Name[fr]=Moniteur de Sauvegarde Pika
Name[he]=מעקב אחר גיבויי פיקה
Name[hi]=पिका बैकअप मॉनिटर
Name[hr]=Pika nadgledatelj sigurnosnog kopiranja
Name[hu]=Pika biztonságimentés-figyelő
Name[id]=Pemantau Pika Backup
Name[is]=Pika afritunarvöktun
Name[it]=Monitor per backup Pika
Name[ka]=მარქაფის მონიტორი Pica
Name[ko]=피카 백업 감시기
Name[nl]=Pika Back-upmonitor
Name[pl]=Monitor kopii zapasowych Pika
Name[pt]=Monitor do Pika Backup
Name[pt_BR]=Monitor do Pika Backup
Name[ro]=Monitor Pika Backup
Name[ru]=Монитор Pika Backup
Name[sl]=Spremljevalnik varnostnega kopiranja Pika
Name[sr]=Пратилац резерве Пика
Name[sv]=Pika Backup-övervakare
Name[tr]=Pika Yedek Gözlemcisi
Name[uk]=Монітор Пискухи-копіювання
Name[vi]=Theo dõi sao lưu dự phòng Pika
Name[zh_CN]=Pika 备份监视器
Name=Pika Backup Monitor
Exec=flatpak run --command=pika-backup-monitor org.gnome.World.PikaBackup
Icon=org.gnome.World.PikaBackup
DBusActivatable=true
NoDisplay=true
X-GNOME-Autostart-Delay=90
X-GNOME-UsesNotifications=true
X-Flatpak=org.gnome.World.PikaBackup
